@page "/"

<PageTitle>Index</PageTitle>

<h1 style="color: red">Hello, world!</h1>

Andrzej Herman, nr albumu: 000000

@for (int idx = 0; idx < 1000; idx++)
{
    <h2>@idx</h2>
}



<SurveyPrompt Title="How is Blazor working for you?" />
